<div class="container mt-5">
  <h2 class="card card-header">Import CSV</h2>
  <%= form_tag import_csv_data_batting_averages_path, multipart: true, class: 'card card-body' do %>
    <%= file_field_tag :file, class: 'form-control' %>
    <%= submit_tag "Import CSV", class: 'btn btn-primary mt-1' %>
  <% end %>
</div>
